$color:red;
// 侧边栏宽度
$base-menu-width:260px;
//侧边栏折叠起来的宽度
$base-menu-min-width:50px;
//侧边 栏颜色
$base-menu-background:#001529;

//导航栏的高度
$base-tabber-height:50px;

//logo的高度
$base-menu-logo-height:50px;